body {
    padding: 50px;
    background-color: black;
}

#container {
    box-sizing: border-box;
    outline: 2px solid white;
    width: 400px;
    height: 600px;
    margin: auto;
}

#display {
    box-sizing: border-box;
    display: flex;
    height: 200px;
    width: 400px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 20px;
    flex-direction: column;
}

#displayLine {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: end;
}

#displayExpr {
    color: white;
    opacity: 50%;
    text-align: end;
}

#keyboard { 
    display: flex;
    flex-flow: row wrap;
    height: 400px;
}

#keyboard button {
    box-sizing: border-box;
    flex: 0 0 25%;
    height: 20%;
    font-size: 20px;
    border: none;
    outline: 1px solid black;
    padding: 0;
}

#keyboard button:hover {
    background-color: grey;
}

#keyboard button img {
    max-width: 40%;
    height: auto;
    margin: 5px 0 0 0;
}