body {
    padding: 50px;
    background-color: black;
}

div {
    color: white;
}

#container {
    box-sizing: border-box;
    outline: 2px solid white;
    width: 400px;
    height: 600px;
    margin: auto;
}

#display {
    height: 200px;
}

#keyboard { 
    display: flex;
    flex-flow: row wrap;
    height: 400px;
}

#keyboard button {
    box-sizing: border-box;
    flex: 0 0 25%;
}
