body {
    padding: 50px;
    background-color: black;
}

#container {
    box-sizing: border-box;
    outline: 2px solid white;
    width: 400px;
    height: 600px;
    margin: auto;
}

#display {
    box-sizing: border-box;
    display: flex;
    height: 200px;
    width: 400px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 20px;
}

#display span {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#keyboard { 
    display: flex;
    flex-flow: row wrap;
    height: 400px;
}

#keyboard button {
    box-sizing: border-box;
    flex: 0 0 25%;
    font-size: 20px;
    border: none;
    outline: 1px solid black;
}